- content_for :head do
  %title Meet Our Team - Twently years of event managment
  %meta{ name: "description", content: "Meet the people behind Flair, one of the UK's leading flexible staffing companies. We've been in business for 20+ years and we know how to get things done!"}
.public.about
  = render :partial => 'v2/mobile/shared/nav'
  .content
    .content-inner
      .v2-about-box-bg
        .overlay
        .d-flex.flex-inline
          .box-bg-1
          .box-bg-2
          .box-bg-3
          .box-bg-4
      .container-fluid.position-relative.px-0
        .v2-about-box-content-1.align-items-center
          %h1
            Meet Flair
            %span .
      .v2-about-box-content-2
        .hanging-colored-logo
        .title
          Real People
          %br/
          Real Skills
          %br/
          Real Simple.
        %p Every staffing agency will tell you that they do things differently, but we know from the feedback we get from our clients – and the repeat business this leads to – that we’ve hit on a winning formula. Our people-centered approach to staffing first turned a few heads back in 2000, when we led the way in recruiting, supplying and managing large numbers of festival bar workers across the UK. Coupled with full logistics support and our savvy operational skills, we quickly gained a reputation for exceeding our clients’ expectations.
        %p Just over 20 years later, our responsive solutions have been honed to the nth degree – meaning that we can take the stress out of finding flexible rewarding contracts to staff. While technology has enhanced our services, it will never replace the relationships we build with everyone we work for.
      .v2-about-box-content-2-1
        .title-2 Stats zone!
        %p.text-center We have collected a whole bunch of stats that we’re proud of. We’ve seen tens of thousands of people through our books and we’re always thrilled when we can match this vibrant, ever-evolving community of workers with like-minded clients. We don’t shut the door at 5pm, we have never arrived at a contract understaffed and we are always the last to leave.
      .v2-about-box-content-4.plain-white-bg
        .img-boxes-container
          .img-boxs.img-boxs-2
            %div Contracts we have started understaffed
            %h1 ZERO
          .img-box
          .img-boxs.img-boxs-5
            %div.img-boxs-5-heading Average
            %div.img-boxs-5-heading database size
            %div.img-boxs-5-numbers 16,483
          .img-boxs.img-boxs-6
            .sub-img-boxes.sub-img-boxes-3
              %div.sub-img-boxes-3-heading Total jobs
              %div.sub-img-boxes-3-numbers 789,658
              %div.sub-img-boxes-3-count-text & counting....
      .v2-about-box-content-5.plain-white-bg
        .title
          Our people
        %p Our brilliant workers relish a challenge – and are always keen to get stuck in.
      .v2-about-box-content-6.plain-white-bg
        .center-green
        .image
      .v2-about-box-content-7.plain-white-bg.d-flex.flex-column.align-items-center
        %p We provide staff for half marathons, world championships, COVID testing centres, beer tents, music concerts, Lapland, promotional tours and in a hundred other situations. We like to say that we’re only as good as our workers, but if we put all modesty aside for a second, we think our management team is pretty incredible at keeping everything running smoothly, too.
        %p.mt2{ style: 'width: 70%;' } Drop us a line to find out what we can do for your business.
        .contact-btn.join-us.d-flex.align-items-center.justify-content-center.mt1
          %a{href: "/contact"}
            %button.join-us Request more info
        .core-container.mt3
          .blueish-bg
            .title
              Our core team
            %p The people with a hand on Flair’s rudder have a wide range of skills and experiences – and can’t wait to discuss what we can do for you!
          .team-container-mobile
            .row
              .col.p-0.m-0.col1
                .img-box
                  .overlay
                  .details.d-flex.flex-column.align-items-center.justify-content-center
                    %span Clare Peckham
                    %span Founder & Operations
                    %span Director
                .img-box
                  .overlay
                  .details.d-flex.flex-column.align-items-center.justify-content-center
                    %span Miriam
                    %span Business & Operations
                    %span Manager
                .img-box
                  .overlay
                  .details.d-flex.flex-column.align-items-center.justify-content-center
                    %span Paul Sherman
                    %span Logistics Director
              .col.p-0.m-0.col2
                .img-box
                  .overlay
                  .details.d-flex.flex-column.align-items-center.justify-content-center
                    %span Elise Marshall
                    %span Senior Event
                    %span Manager
                .img-box
                  .overlay
                  .details.d-flex.flex-column.align-items-center.justify-content-center
                    %span Emma Stocks
                    %span Senior Staff
                    %span Manager
                .img-box
                  .overlay
                  .details.d-flex.flex-column.align-items-center.justify-content-center
                    %span Zoe Hadaway
                    %span HR & Payroll
                .img-box.d-none
                  .overlay
                  .details.d-flex.flex-column.align-items-center.justify-content-center
                    %span Mark Puerto
                    %span System
                    %span Development
                .img-box
                  .overlay
                  .details.d-flex.flex-column.align-items-center.justify-content-center
                    %span Daniel Lamb
                    %span IT Manager
          .floating-flair-logo
      .v2-about-box-content-8.plain-2a2a2a-bg
        %h2 Enjoying work leads to perfection
        %h3 - Aristotle
        .v2-home-bottom

  .content-after
  = render :partial => 'v2/mobile/application/footer'
