.public.case-study.hospitality
  = render :partial => 'v2/mobile/shared/nav'
  .content
    .case-header-bg
    .v2-case-industry-1
      %h3 HOSPITALITY
      .case-study
      .orange-btn.d-flex.align-items-center.justify-content-center
        %a{href: '/contact'}
          %button Request more info
      .industry-image.hospitality
    .v2-case-industry-2
      .d-flex.flex-row 
        .border-line
        %div 
          %h5 GIN & RUM FESTIVAL TOUR
          %h3 
            Supporting our client's 
            %br/
            new venture.
    .v2-case-industry-3
      %h2 Key challenge:
      %p With an ambitious season ahead, our client was looking for people with some niche skills to ensure an outstanding visitor experience. Derby Bars expressly needed talented bar and event staff who could absorb detailed information, and then talk confidently to the public to upsell products.
      .cs-image.hospitality
    .v2-case-industry-4
      %h2 How we helped:
      %p Labelled the UK's largest touring Gin & Rum festival and taking in 29 two-day events across the country, this popular crowd-please requires a small army of hard-working, talented people to bring it to life. First, we drilled down into the range of tasks that each event would require. From this, we devised a clear set of roles and skill sets that each candidate would need. 
      %p Staffing these events was most definitely not a numbers game. As well as reliable and personable hosts to meet and greet guests, check tickets and deliver key information, our teams would also comprise of experienced bar staff, cocktail specialists and more. 
      %p Particularly important was the need for a set of candidates who could work with the client to understand the key messaging of whichever partner brands had been lined up for that weekend's event. These individuals would need to learn about new products prior to arrival so they could be confidently explained to visitors. Flair took care of all these requirements and the events were hailed as a major success.
      .cs-image.hospitality
    .v2-case-industry-5
      %h2 The Results
      %p Gin & Rum festivals are now into their fourth year of sold-out venues. Our client consistently puts their trust in Flair and likes our “low maintenance approach”. Briefed once, we plan, deliver and manage their teams.
      .d-flex.flex-row 
        .checkbox
        %h5 Niche staffed pulled from our database.
      .d-flex.flex-row 
        .checkbox
        %h5 Successfully upsold products.
      .d-flex.flex-row 
        .checkbox
        %h5 Delivered outstanding customer experience.
      .d-flex.flex-row 
        .checkbox
        %h5 Becomes the UK’s largest Gin & Rum festival tour.
      
      .categories{style: "padding-left: 39px;margin-top: 30px;"}
        %h2 Case Studies
        - [["Festivals & Events", 'events'], ["Hospitality", 'hospitality'], ["Logistics", 'logistics'], ["Promotional", 'promotional'], ["Sports", 'sports'], ["Commercial", 'commercial']].each do |f|
          .d-flex.flex-inline
            %i.fa.fa-caret-right
            %a{href: "/case_studies/#{f[1]}", style: 'width: 100%;'}
              -if f[1] == "hospitality"
                %h5.ml-05{style: "color: #6BCBB8;"}=f[0]
              -else
                %h5.ml-05=f[0]
    .v2-case-industry-6
      .bg-image.hospitality
      %h1 Our job is to make our client's job easier. Workforce solutions delivered with event expertise.
      .orange-btn.d-flex.align-items-center.justify-content-center
        %a{href: "/hire?redirect=#{Flair::Application.config.base_https_url}"}
          %button Hire Staff
      .v2-home-bottom
  = render :partial => 'v2/mobile/application/footer'