.public.industry.commercial
  = render :partial => 'v2/mobile/shared/nav'
  .content
    .case-header-bg
    .v2-case-section-1
      .case-study
      %h1 Working outside of the box
      .orange-btn.d-flex.align-items-center.justify-content-center.mt-30
        %a{href: '/contact'}
          %button Hire People
    .v2-case-section-1-1
      %p
        Flair provides workforce solutions from a background rich in event management.
        %br/
        %br/

    .v2-case-section-2.case-info
      .cs-content
        .d-flex.flex-row
          .border-line
          .ml-05
            %h5.first-title COVID TEST CENTRE
            %h3.violet
              Delivering in 30hrs
              %br/
              meant centres could open.
        %p.violet.mt1 Reacting in a matter of days we supported our client in opening several London test centres. Recruits needed to be competent and reliable to cover 12-hours shifts seven days a week. Once staffed our focus turned to daily workforce management, as a 'four-on, four-off' rotation settled in and permanent teams established.
        %br/
        %a{href: '/case_studies/logistics'} READ MORE

        .cs-image.logistics
    .v2-case-section-3.case-info.even
      .cs-content
        .d-flex.flex-row
          .border-line
          .ml-05
            %h5.first-title EVERY CAN COUNTS
            %h3.violet
              Providing brand ambassadors
              %br/
              with a 'can do' attitude.
        %p.violet.mt1 To streamline operations, our client turned to Flair to supply all 22 venues for their recycling campaign that was linked to the Tour Of Britain cycling series. Our teams needed to be tech-savvy ‘personalities’ who could champion the recycling cause.
        %br/
        %a{href: '/case_studies/promotional'} READ MORE

        .cs-image.promo
    .v2-case-section-4.case-info
      .cs-content
        .d-flex.flex-row
          .border-line
          .ml-05
            %h5.first-title ROYAL PARK HALF MARATHON
            %h3.violet
              Fully staffed at 6am on a
              %br/
              cold autumn day with Flair!
        %p.violet.mt1 Working in complete harmony with our client, our bespoke staffing system made light of deploying 492 people along a 13.1 mile course. With everyone in position and fully informed of the day ahead, Flair’s on-site team turned on the welcoming smiles and set the teams up for a positive, enjoyable day.
        %br/
        %a{href: '/case_studies/sports'} READ MORE

        .cs-image.sports
    .v2-case-section-5.case-info.even
      .cs-content
        .d-flex.flex-row
          .border-line
          .ml-05
            %h5.first-title GIN & RUM FESTIVAL TOUR
            %h3.violet
              Supporting our clients
              %br/
              new venture.
        %p.violet.mt1 Our client needed Flair's “low maintenance' industry experience when busy creating a new UK tour. Once briefed we engaged 29 high calibra teams who could learn fast to talk confidently and upsell products. Covering a range of event positions per venue our national database provided the bespoke level required. Being fully staffed works with the right people.
        %br/
        %a{href: '/case_studies/hospitality'} READ MORE

        .cs-image.hospitality
    .v2-case-section-6.case-info
      .cs-content
        .d-flex.flex-row
          .border-line
          .ml-05
            %h5.first-title V FESTIVALS
            %h3.violet
              Supplying the complete
              %br/
              staffing solution.
        %p.violet.mt1 A few years into the game, our client upped the stakes – could we provide the same level of bar service across both V sites as we’d been providing at one for some time? We didn’t miss a beat, swiftly recruiting and then organising more than 750 festival workers across two sites. That’s 48 bars, 12 shifts, nine coaches – and everyone paid within a week. And all at a time before smartphones, too!
        %br/
        %a{href: '/case_studies/events'} READ MORE

        .cs-image.events
    .v2-case-section-7.case-info.even
      .cs-content
        .d-flex.flex-row
          .border-line
          .ml-05
            %h5.first-title THE LOWRY TICKET SALES
            %h3.violet
              Scale up operations with
              %br/
              flexible staffing.
        %p.violet.mt1 Our client turned to Flair to supply 'top-up' crew to meet spikes in demand. Key to our success was finding local flexible people who wanted to accept the unpredictable nature of the contract and willing to learn complex booking systems, standards and protocols. We successfully managed a great pool of local flexible workers many becoming permanent employees over time.
        %br/
        %a{href: '/case_studies/commercial'} READ MORE

        .cs-image.commercial
    .v2-case-section-8
      %h1 Flair is here
      .d-flex.justify-content-center
        %h1 to work for you
        %span .
      %br/
      .d-flex.justify-content-center
        .v2-home-btns.staff-request.d-flex.align-items-center.justify-content-center.mr2
          %a{href: "/register"}
            %button.v2-home-staff-req-btn.join-team Join our team
        .v2-home-btns.bottom-hire.d-flex.align-items-center.justify-content-center
          %a{href: "/hire?redirect=#{Flair::Application.config.base_https_url}"}
            %button.v2-home-bottom-hire-btn.bottom-hire Hire staff today
      .v2-home-bottom
  = render :partial => 'v2/mobile/application/footer'
