<li class='testimonial-item'>
  <div class='quote'>
    <p class="about-quote">We received excellent customer service this year from the team at Flair Events – there was always someone on hand to deal with our requests, and the general quality of staff provided was very good. We would not hesitate in using them again for upcoming events and projects.</p>
      <div class="quote-writter">
          <h4 style="text-align: right;margin-top: 15px; color: #005949;"> Nick Thompson</h4>
          <span style="float: right; color: #005949;" >Senior Commercial Events Manager</span><br>
          <h4  style="text-align: right; color: #005949; margin-top: 12px; padding-bottom: 40px;"> Kew Gardens </h4>
      </div>
  </div>
</li>
<li class='testimonial-item'>
  <div class='quote'>
    <p class="about-quote">"Flair have played a big part in the smooth running of our bar events by providing excellent staff consistently. We would be happy to recommend every day of the week!"</p>
      <div class="quote-writter">
          <h4 style="text-align: right;margin-top: 15px; color: #005949;"> James Manning </h4>
          <span style="float: right; color: #005949;" >Director – Shack Events</span><br>
      </div>
  </div>
</li>
<li class='testimonial-item'>
  <div class='quote'>
    <p class="about-quote">Flair events have been great to work with and helped us source enthusiastic and engaging staff for our events. They are extremely professional and react quickly to our requirements.</p>
      <div class="quote-writter">
          <h4 style="text-align: right;margin-top: 15px; color: #005949;"> Jonathan Easthope </h4>
          <span style="float: right; color: #005949;" > Brand Manager – Every Can Counts </span><br>
      </div>
  </div>
</li>
