- content_for :head do
  %title Find Temporary Industrial and logistics Workers In the UK
  %meta{ name: "description", content: "On-demand staff for warehouses, manufacturing, production and other industrial roles. Focus on your business, let Flair take care of staffing, scheduling and paying temp workers." }
.public.industry.logistics
  = render :partial => 'v2/mobile/shared/nav'
  .content
    .content-inner
      .container-fluid.position-relative.px-0.d-flex
        .industry-header-bg
        .industry-header-bg-overlay
        .v2-industry-header
          %h1
            Logistics
            .staffing-img
          %p Every team needs a blend of intelligent ‘thinkers’ and hard-working 'doers’ – the beauty is in selecting exactly the right mix. That’s where we come in...
          .orange-btn.d-flex.align-items-center.justify-content-center.request
            %a{href: "/contact"}
              %button Request more info
          .industry-image{style: "margin-top: 315px;right: 20px;"}
      .container-fluid.position-relative.px-0
        .v2-industry-section-1
          %h1
            A flexible workforce
            %br/
            whenever you need it
          %p Working with our clients, we develop staffing solutions that are both scalable and easily integrated into an existing workforce. In fact, our forte is finding a logical pathway which will enable our clients to get the most out of their whole team.
          %p Whether you’re seeking an army of packers, a warehouse crew to fill in for absentees or a handful of highly-skilled venue supervisors to work a number of pop-up facilities, we can help.
        .v2-industry-section-3
          .bg-industry-worker
          .industry-worker-content
            .d-flex.flex-row
              .border-line
              %h1
                Workers who
                %br/
                give a little extra
            %p Flair has built some amazing relationships over the years with the people on our database. Mutual respect and understanding promotes loyalty and reliability among our workers and enables us to successfully deliver brilliant teams again and again.
        .v2-industry-section-2
          %ul
            %li
              .d-flex.justify-content-center
                .type-image
                .light-overlay
                .circular
                .flat-overlay
                %a.d-flex.align-items-center.justify-content-center Covid Support
                .type-desc.d-flex.flex-column
                  %span Screened, thorough,
                  %span reliable workers.
            %li
              .d-flex.justify-content-center
                .type-image
                .light-overlay
                .circular
                .flat-overlay
                %a.d-flex.align-items-center.justify-content-center Warehouse
                .type-desc.d-flex.flex-column
                  %span Experienced movers & lifters.
                  %span A skilled, task-orientated
                  %span workforce.
            %li
              .d-flex.justify-content-center
                .type-image
                .light-overlay
                .circular
                .flat-overlay
                %a.d-flex.align-items-center.justify-content-center Event Crew
                .type-desc.d-flex.flex-column
                  %span Flexible proactive team
                  %span players ready to move,
                  %span mountains.
            %li
              .d-flex.justify-content-center
                .type-image
                .light-overlay
                .circular
                .flat-overlay
                %a.d-flex.align-items-center.justify-content-center Supply Chain
                .type-desc.d-flex.flex-column
                  %span Fast learners, team players,
                  %span minimal fuss.
        .v2-industry-section-4
          .box.d-flex.flex-column.justify-content-center.align-items-center
            %h1 No stress
            %span{style: "margin-top: 5px;"} Our staff come fully-vetted
            %span and ready to work.
          .box.d-flex.flex-column.justify-content-center.align-items-center
            %h1 No fuss
            %span{style: "margin-top: 5px;"} Pre and post-contract admin and
            %span payroll handled by us.
          .box.d-flex.flex-column.justify-content-center.align-items-center
            %h1 No surprises
            %span{style: "margin-top: 5px;"} A cost-effective, bespoke staffing
            %span solution that works for you.
        .v2-industry-section-5
          %h1
            Logistics at Flair
            %br/
            means.....
          %p Warehouse wonders, fast-handed packers, storage supremos, heavy lifters, loading masters, data processors, crowd handlers, COVID responders, storage maestros, supply chain legends and seasoned all-rounders that get the job done.
          .industry-about-bg
          %h3 Real people, real skills, real simple
          .d-flex.justify-content-center
            .orange-btn.d-flex.align-items-center.justify-content-center.mr1
              %a{ href: "/events?category=Sports"}
                %button View Jobs
            .orange-btn.d-flex.align-items-center.justify-content-center
              %a{ href: "/hire?redirect=#{Flair::Application.config.base_https_url}"}
                %button Hire Staff
        .v2-industry-section-8
          %h6 Case Study
          .d-flex.flex-inline.align-items-center
            .border-line
            %div{style: "margin-left: 5px;"}
              %h5 COVID-19 TEST CENTRES
              %h3 Quick delivery to open!
          .image-container.d-flex.justify-content-center
            .cs-image
            %div
              .cs-event-box.cs-event-counter.d-flex.flex-column.align-items-center.justify-content-center{style: 'margin-bottom: 5px;'}
                %h1 6
                %h3 Venues
              .cs-event-box.cs-event-counter.d-flex.flex-column.align-items-center.justify-content-center
                %h1 30 hrs
                %h3 Notice
          %p Mid-pandemic, we fielded a last-minute request to staff six London testing centres opening in a matter of days. To add more urgency to the brief, all staff had to provide valid DBS checks, and be able to work 12-hour shifts in strict cohort bubbles. They also needed to rapidly pass six NHS training modules.
          .see-content
            %p Turning instantly to our diverse database, we reached out to skilled and reliable candidates living no more than five miles of each centre. Within the deadline, the first test sites were opened and fully staffed. The next phase of the planning involved daily workforce management as the ‘four-on, four off’ rotation settled in. Our scheduling app proved invaluable in enabling us to support all of the workers – and the client – every step of the way.
            %a(href="/case_studies/logistics" data-turbolinks="false")
              .read-more READ MORE
          .see-more{onclick: "see_more_less()"}
        .v2-industry-section-9
          %h1 Flair provides a complete
          %h1.d-flex.flex-inline
            %span.mr1{style: "margin-right: 5px;"} logistics
            staff service.
          %h1{style: 'margin-top: 20px;'} So, how can we help?
          .orange-btn.mt3.d-flex.align-items-center.justify-content-center{style: 'margin-top: 18px;'}
            %a{ href: '/contact'}
              %button Let's chat today
          .v2-home-bottom
  = render :partial => 'v2/mobile/application/footer'
