<div class="v2-profile-terms-container">

  <div class="v2-profile-terms-header-title">
    Contact for service for temporary workers ( Terms of Engagement)
  </div>

  <%= form_tag '../staff/terms', class: 'v2-terms-form' do %>
      <input type="hidden" name="agreed" value='true'>
      <center>
        <%= submit_tag 'I AGREE', class: 'v2-profile-kid-agree-button' %>
      </center>
  <% end %>

  <div class="v2-profile-terms-normal">
    <p>Definitions: In these Terms of Engagement the following definitions apply:</p>
    <p><span class="v2-profile-terms-title">“Assignment”</span> means the period during which the Temporary Worker is supplied or renders services to the Client;</p>
    <p><span class="v2-profile-terms-title">“Client”</span> means the person, firm or corporate body requiring the services of the Temporary Worker together with any subsidiary or associated company as defined by the Companies Act 1985;</p>
    <p><span class="v2-profile-terms-title">“Employment Business”</span> means Flair People Ltd, of Suit 15, The Adelphi Mill, Bollington, SK10 5JB; “Temporary Worker” means named person printed and sign and their address given held with the Employment Business database.</p>
    <p><span class="v2-profile-terms-title">“Regulations”</span> means the conduct of Employment Agencies and Employment Business Regulations 2003 Unless otherwise stated references to the singular include the plural and all headings contained in these terms are for convenience only and do not affect their interpretation.</p>

    <h6>THE CONTRACT.</h6>
    <p>1.1 For the purposes of this contract, the Employment Business operates as an Employment Business as stipulated under the Regulations.</p>
    <p>1.2 These Terms constitute a contract for services between the Employment Business and the Temporary Worker, and they govern all Assignments undertaken by the Temporary Worker. However, no contract shall exist between the Employment Business and the Temporary Worker between Assignments.</p>
    <p>1.3 For the avoidance of doubt, these Terms shall not give rise to a contract of employment between the Employment Business and the Temporary Worker. The Temporary Worker is engaged as an agency worker on a contract for services, and the Employment Business is required to make statutory deductions from the Temporary Worker’s remuneration in accordance with clause 3.1.</p>
    <p>1.4 No variation or alteration to these Terms shall be valid unless the details of such variation are agreed between the Employment Business and the Temporary Worker and set out in writing, and a copy of the varied terms is given to the Temporary Worker stating the date on or after which such varied terms shall apply.</p>

    <h6>ASSIGNMENTS.</h6>
    <p>2.1 The Employment Business will endeavour to obtain suitable Assignments for the Temporary Worker in the events industry and/or customer service based ‘Bar Work’, ‘Sports Marshalling’, ‘Promotional Marketing’ or ‘Office Based Work’. The Temporary Worker shall not be obliged to accept an Assignment offered by the Employment Business.</<p>p>

    <p>2.2 The Temporary Worker acknowledges that the nature of temporary work means that there may be periods when no suitable work is available and agrees: that the suitability of the work to be offered shall be determined solely by the Employment Business; that the Employment Business shall incur no liability to the Temporary Worker should it fail to offer opportunities to work in the above category or in any other category; and that no contract shall exist between the Temporary Worker and the Employment Business during periods when the Temporary Worker is not working on an Assignment.</p>

    <p>2.3 The Temporary Worker accepts that the working times of any Assignment may vary, shorten or be cancelled. The Temporary Worker understands that, in the event of work being cancelled by the Client or the work area being closed by the Client, remuneration will only include amounts accrued for actual hours worked. The Temporary Worker accepts that this is the nature of the work.</p>

    <p>2.4 The Working Time Regulations 1998 imposes an obligation on the Employment Business to ensure that workers do not work more than an average of 48 hours per week averaged over a 17 week period. By agreeing to the terms of this contract, the Temporary Worker has opted out of that promise and the 48 hour limit will not be applicable. The Temporary Worker may terminate the opt out by giving not less than 7 days notice to the Employment Business.</p>

    <p>2.5 The Temporary Worker accepts that the Client and/or the Employment Business will not be responsible in the event of loss or damage to the Temporary Worker’s personal belongings.</p>

    <p>2.6 The Employment Business does not accept responsibility for the facilities and provisions made available to the Temporary Worker by the Client on an Assignment. The Temporary Worker will be responsible for any loss or damage caused as a result of their use of the Client’s facilities and provisions.</p>

    <h6>REMUNERATION.</h6>
    <p>3.1 The Employment Business shall pay to the Temporary Worker remuneration calculated at or above the National minimum wage rate for each age bracket. The National Minimum Wage being the minimum rate of remuneration that the Employment Business reasonably expects to achieve, for all hours worked (to the nearest ¼ hour). The actual rate will be notified on a per Assignment basis, and will state if holiday pay is included in the rate based on above minimum legal wage bracket at 12.07%, for each hour worked during an Assignment (to the nearest ¼ hour) to be paid weekly in arrears, subject to deductions in respect of PAYE, pursuant to Sections 44-47 of the Income Tax (Earnings &amp; Pensions) Act 2003 and Class 1 NI Contributions and any others deductions which the Employment Business may be required by law to make.</p>

    <p>3.2 Any deductions from remuneration whenever and in whatever circumstances the Temporary Worker has a pre-arranged financial liability to the Client and/or Employment Business will be notified, authorised and agreed by the Temporary Worker.</p>

    <p>3.3 The Temporary Worker is not entitled to receive payment from the Employment Business or Clients for time not spent on Assignment, whether in respect of illness or absence, daily breaks for any other reason.</p>

    <h6>Flair People Ltd, Company No: SC453179</h6>

    <p>3.4 The Employment Business undertakes to pay the Temporary Worker their remuneration entitlement under this clause whether or not work done by the Temporary Worker is paid by the Client in respect of that work.</p>

    <p>3.5 The Temporary Worker agrees to raise any queries relating to remuneration with the Employment Business within 2 months after the last date of the relevant Assignment.</p>

    <p>3.6 The Temporary Worker accepts the Employment Business operates strict requests for all required documents to comply with The Asylum and Immigrations Act 1996 to be provided as evidence of legal working status. In signing this contract, the Temporary Worker accepts that documents have been requested prior to undertaking all Assignments and accepts responsibility to provide these documents prior to the start of any Assignment.</p>

    <p>3.7 The Temporary worker would always receive payment regardless of whether the employment business is reimbursed for hours worked within any Assignment.</p>

    <h6>STATUTORY LEAVE.</h6>
    <p>4.1 Entitlement to payment for leave accrues in proportion to the amount of time worked continuously by the Temporary Worker on Assignment during the leave year. Due to the nature of Temporary Assignments, holiday pay incurred at 12.07% in line with the legal requirement of 28 days – 5.6 weeks – prorated. to be paid on completion of Assignment or leaving the business once the employee has notified the business of their intentions to leave. UK law forbids a business to pay as hours are worked; ‘rolled up’ entitlements and temporary assignments will not allow give absent hours or days, long term Assignments will allow days of paid leave. All entitlements will be confirmed on a per Assignment basis. Employeerights to any and all statutory payments will be adhered to on an individual basis and when continuous employment permits such entitlements.</p>

    <h6>TIME SHEETS.</h6>
    <p>5.1 At the end of the Assignment, the Temporary Worker shall sign a time sheet duly completed to indicate the number of hours worked. The time sheet will indicate remuneration. Should it not be possible to physically sign the timesheet, alternative methods shall be sought.</p>

    <p>5.2 Where the Temporary Worker fails to submit a properly authenticated time sheet, the Employment Business shall, in a timely fashion, conduct further investigations into the hours claimed by the Temporary Worker and the reasons that the Client has refused to sign a timesheet in respect of those hours.</p>
    <p>This may delay any payment due to the Temporary Worker. The Employment Business shall make no payment to the Temporary Worker for hours not worked.</p>

    <p>5.3 For the avoidance of doubt and for the purposes of the Working Time Regulations, the Temporary Worker’s working time shall only consist of those periods during which s/he is carrying out activities or duties for the Client as part of the Assignment. Time spent travelling to the Client’s premises; lunch breaks and other rest breaks shall not count as part of the Temporary Worker’s working time for these purposes.

    <h6>CONDUCT OF ASSIGNMENTS.</h6>
    <p>6.1 The Temporary Worker acknowledges that s/he must complete the Assignment in an acceptable and professional manner and in-line with the Employment Business and Third-Party requirements, and as instructed upon acceptance of the Assignment.</p>

    <p>6.2 The Temporary Worker is not obliged to accept any Assignment offered by the Employment Business but if s/he does so, during every Assignment and afterwards where appropriate, s/he will: – a) Co-operate with the Client’s reasonable instructions and accept the direction, supervision and control of any responsible person in the Client’s organisation; b) Observe any relevant rules and regulations of the Client’s establishment (including normal hours of work) to which attention has been drawn or which the Temporary Worker might reasonably be expected to ascertain; c) Take all reasonable steps to safeguard his or her own health and safety and that of any other person who may be present or be affected by his or her own health and safety and that of any other person who may be present or be affected by his or her actions on the Assignment and comply with the Health and Safety policies and procedures of the Client; d) Not engage in any conduct detrimental to the interests of the Client; e) Not at any time divulge to any person, nor use for his or her own or any other person’s benefit, any confidential information relating to the Client’s or the Employment Business’ employees, workers, business affairs, transactions or finances.</p>

    <p>6.3 If the Temporary Worker is unable for any reason to attend work during the course of an Assignment, s/he should inform the Client and/or the Employment Business within four hours of the commencement of the Assignment or shift.</p>

    <p>6.4 If, either before or during the course of an Assignment, the Temporary Worker becomes aware of any reason why s/he may not be suitable for an Assignment, s/he shall notify the Employment Business before absence or within one hour of absence.</p>

    <h6>TERMINATION.</h6>
    <p>7.1 The Employment Business or the Client may terminate the Temporary Worker’s Assignment at any time without prior notice or liability.</p>

    <p>7.2 The Temporary Worker may terminate an Assignment at any time without prior notice or liability, unless the Temporary Worker has accepted an entry pass/wristband if the Assignment is based at a Festival/Event. In which case, the Temporary Worker is required to inform the Employment Business within one hour of absence from an agreed shift.</p>

    <h6>Flair People Ltd, Company No: SC453179</h6>

    <p>Failure to provide evidence of absence will result in the charge of attendance to the event at face value of public entrance pass/wristband. Any outstanding remuneration will be deducted from requested payment of pass.</p>

    <p>7.3 The Temporary Worker has to inform the Employment Business of reasons for absence within the day of absence. This will be followed by evidence of
    absence requested within one week.</p>

    <p>7.4 If the Temporary Worker does not inform the Client and/or the Employment Business [in accordance with clause 6.3] that they are unable to attend work during the course of an assignment, this will be treated as termination of the assignment by the Temporary Worker in accordance with clause 7.1 unless the Temporary Worker can show that exceptional circumstances prevented him or her from complying with clause 6.3.</p>

    <p>7.5 If the Temporary Worker is absent during the course of an assignment and the contract has not been otherwise terminated under clause 7, the Employment Business will be entitled to terminate the contract in accordance with clause 7.1 if the work to which the absent worker was assigned is no longer available for the Temporary Worker.</p>

    <p>7.6 The Temporary worker accepts declaration of personal money at Assignments may be requested to then be eliminated from any inquiries in the event of an agreed spot search. If the Temporary Worker is believed to be in the possession of any of the client’s property, the Assignment will be terminate immediately. Searches will be carried out in compliance with the Human Rights Act 1998 under Article 8 of the Act and will not infringe the Temporary Workers rights in the workplace. Remuneration will be paid only on hours worked and the assignment terminated pending investigation on evidence against the Temporary Worker and agreed in writing.</p>

    <h6>DATA PROTECTION.</h6>
    <p>The Employment Business will obtain and keep certain information about its temporary workers to allow it to carry on its day to day business. Specifically, this data may be used in connection with pre-assignment checks, equal opportunities monitoring, payroll operations, training, and to carry out related personnel and compliance functions. The data held includes “sensitive personal data” as defined in the Data Protection Act 1998. Data may be transferred to certain third parties who are contracted by the Employment Business to perform personal and related functions on their behalf. The Employment Business will not transfer the Temporary Worker’s personal data to other third parties outside the Company without the consent of the Temporary Worker, unless required to do so by law. The Temporary Worker is required to comply with the terms of the Data Protection Act 1998.</p>

    <h6>EQUAL OPPORTUNITIES.</h6>
    <p>The Temporary Worker is required to comply with the Employment Business’ Equal Opportunities Policy. A copy of the policy can be obtained from the Employment Business upon request. Breach of the policy by the Temporary Worker will result in the termination of this Contract.</p>

    <h6>LAW.</h6>
    <p>These Terms are governed by the law of England &amp; Wales and are subject to the exclusive jurisdiction of the Courts of England &amp; Wales.</p>
  </div>
  <br>
  <br>
  <%= form_tag '../staff/terms', class: 'v2-terms-form' do %>
    <input type="hidden" name="agreed" value='true'>
    <center>
      <%= submit_tag 'I AGREE', class: 'v2-profile-terms-submit', style: 'margin-bottom: 168px;' %>
    </center>
  <% end %>
</div>

<% content_for_once :js do %>
  <script>
    $('.v2-terms-form').on('submit', function(e){
        e.preventDefault()
        $.ajax({
            url: "../staff/terms",
            type: 'POST',
            data: {agreed: 'true'},
            success: function (result) {

            }
        })
        $('#v2-profile-kid').css('display', 'none');
        $('#v2-profile-terms').css('display', 'none');
        $('#v2-profile-personal-details').css('display', 'block');

        v2_profile_bg_size('.v2-profile-content')

        if ($('#terms').prop('checked') == false){
            $('#terms').prop('checked', true)
        }

        return false
    })
  </script>
<% end %>
