.staff_zone.set-password
  = render :partial => 'shared/nav'
  .content
    .content-spacer
    .content-inner
      .band-heading.row.expanded--restricted
        %h3 Set Password
      .row.field.p2.expanded--restricted.align-center.translucent
        .column.small-12.medium-8.text-center
          = form_tag "/staff/set_password" do
            %p.mb1 Enter your new password twice
            .mb1
              .input-group
                .input-group__icon
                  %svg
                    <use xlink:href="#fl-icon-lock" />
                %input.form-control.error{"aria-describedby" => "basic-addon5", :placeholder => "Password", :type => "password", :id => "password", :name => "password", :required => "", value: @password}
            .mb1
              .input-group
                .input-group__icon
                %input.form-control.error{"aria-describedby" => "basic-addon5", :placeholder => "Confirm Password", :type => "password", :id => "password_confirm", :name => "password_confirm", :required => "", value: @password_confirm}
            %p.text-right
              = submit_tag 'Save Password', class: 'btn btn-default'
    .content-spacer
  .content-after
  = render partial: 'footer'
