.booking-email-template
  %table
    %tbody
      %tr
        %td Contracted By
        %td.email_contracted_by
      %tr
        %td Event
        %td.email_event_display_name
      %tr
        %td Location
        %td.email_event_address
      %tr
        %td Dates
        %td.email_booking_dates
      %tr
        %td Timings
        %td.email_booking_timings
      %tr
        %td Crew Required
        %td.email_booking_crew_required
      %tr
        %td Job Description
        %td.email_booking_job_description
      %tr
        %td Event Description
        %td.email_booking_event_description
      %tr
        %td Selling Points
        %td.email_booking_selling_points
      %tr
        %td Staff Qualities
        %td.email_booking_staff_qualities
      %tr
        %td Uniform
        %td.email_booking_uniform
      %tr
        %td Food
        %td.email_booking_food
      %tr
        %td Breaks
        %td.email_booking_breaks
      %tr
        %td Transport
        %td.email_booking_transport
      %tr
        %td Meeting Location
        %td.email_booking_meeting_location
      %tr
        %td Rates
        %td.email_booking_rates
      %tr
        %td Terms
        %td.email_booking_terms
      %tr
        %td Invoicing
        %td.email_booking_invoicing
      %tr
        %td Timesheets
        %td.email_booking_timesheets
      %tr
        %td Minimum Hours
        %td.email_booking_minimum_hours
      %tr
        %td Health Safety
        %td.email_booking_health_safety
      %tr
        %td Other
        %td.email_booking_any_other_information
  %hr