#tasks-window
  .list-view
    .pagination-controls.pagination-bar{style: 'float:left'}
    %div{style: 'float:right'}
      %span.total-records
    %div{style: 'clear:both'}
    .record-list{tabindex: '0'}