.v2-login-form#v2-forgot-form{style: 'display: none;'}
  -#.back-to-login#back-to-login Back to Log In
  .v2-login-form-title.v2-login-form-title-mt Oops forgotten password:
  .forgot-password-normal-text Enter the email address you used to register, click the email we send to reset!
  = form_tag '/forgot_password' do
    = text_field_tag :email, '', autocapitalize: 'off', class: 'form-control forgot-password-input v2-inputs', placeholder: 'Email', style: 'margin-bottom: 20px;'
    = submit_tag 'Reset Password', class: 'reset-password-btn'

  .v2-login-form-register-container.v2-login-form-register-container-forget
    %span.v2-login-form-register
      Need an Account?
      %a(href="/register") Join Us
  .row.expanded
    .column.small-6.p-0
    .column.small-6.text-right.p-0
      .v2-login-form-contact-us
        Connect Today.
      .v2-login-form-contact-info
        Head Office: 0161 241 2441
        %br/
        Email: hello@flairpeople.com
  -# .band-heading.row.expanded--restricted
  -#   %h3 Forgot your password?
  -# .row.field.p2.expanded--restricted.align-center.translucent
  -#   .column.small-12.medium-8.text-justify
  -#     %p.mb1 No problem! Just enter your e-mail address and we'll send you a login link. After you log in, you can set a new password.
  -#     = form_tag '/forgot_password' do
  -#       %p
  -#         = text_field_tag :email, '', autocapitalize: 'off', class: 'form-control', placeholder: 'email@example.com'
  -#       %p.text-right
  -#         = submit_tag 'Send login link', class: 'btn btn-default'
