<p>Hi <%= @name %>,</p>

<p>You started an application with us some time ago which was not fully completed. We wanted to let you know that we have deactivated your initial login and removed all personal data from our system.</p>
<p>However, if you are still interested in seeking casual event work, simply re-register and follow 3 easy steps to begin working with us.</p>
<ul>
  <li>Step 1: Re-register on our website - <a href="https://www.eventstaffing.co.uk">https://www.eventstaffing.co.uk</a></li>
  <li>Step 2: Complete your application</li>
  <li>Step 3: Book a 2-5 minute telephone introduction</li>
</ul>
<p>We provide work opportunities including bar positions, sports events, concerts and hospitality. Many interesting and unique work experiences are waiting for you! Your work with Flair is flexible and you are paid weekly. Work with the event staffing company that works for YOU!</p>

<p>We wish you well in your future career path.</p>

<%= render partial: 'staff_mailer/signature' %>
