<p>Hi <%= @person.first_name %>,</p>

<p>Your interview is tomorrow, <strong><%= @interview_date %></strong> at <strong><%= @interview_time %></strong>.  If it is no longer suitable for us to call you around this time, please consider rescheduling or cancelling.
  Simply visit your <a href="https://eventstaffing.co.uk/staff/#profile">profile page</a> </p>
<p>The interview should take only take up 10-15 minutes of your time and could unlock hundreds of casual event work opportunities, so we worth the final step in your application process. </p>
<p>Work on offer is flexible, interesting, paid weekly and can cover a various roles available throughout the year at sporting events, music events, bar, hospitality to retail and promotional jobs. </p>
<p>We look forward to chatting to you tomorrow or simply calling us any time after 10am 0161 241 2441</p>
<p>Thanks<p>
<p>Flair Team</p>
<%= render partial: 'staff_mailer/signature' %>
