%link{:href => "https://fonts.gstatic.com", :rel => "preconnect"}/
%link{:href => "https://fonts.googleapis.com/css2?family=Lato&display=swap", :rel => "stylesheet"}/
%link{:href => "https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap", :rel => "stylesheet"}/

%table{ style: "font-family: 'Lato', sans-serif; font-size: 14px;" }
  %tr
    %td Hi #{@name},
%table{ style: "font-family: 'Lato', sans-serif; font-size: 14px; padding: 10px 0px; line-height: 25px;" }
  %tr
    %td
      We didn't catch you today for your scheduled interview. You can rescheduled
      %a{ href: "#{Flair::Application.config.base_https_url}/staff#interview"} here
      or feel free to call us if this suits your schedule better.
  %tr
    %td We look forward to speaking with you soon.

= render partial: 'staff_mailer/signature'
