<p>Dear <%= @name %>,

<p>We are writing to inform you that you have been removed from employment with Flair Event Staffing for the following reason:</p>

<p><%= @reason %></p>

<p>If you feel this is unjustified please contact our office.</p>

<%= render partial: 'staff_mailer/signature' %>
