<p>Dear <%= @name %>,</p>

<p>As requested, your account with Flair Events has been deleted and any personal data is no longer stored on our system.
For any future opportunities with Flair, you will need to register again.</p>

<% if @upcoming_gigs && @upcoming_gigs.length > 0 %>
  <p>We have cancelled the following work engagements:</p>

  <p><ul>
    <% @upcoming_gigs.each do |gig| %>
      <li><%= gig.event.display_name_with_location %> <%= gig.period %></li>
    <% end %>
  </ul></p>

<% end %>
<p>We wish you well in your future career path.</p>

<%= render partial: 'staff_mailer/signature' %>
