<p>Dear <%= @name %>,</p>

<p>Thank you for submitting the required identification to enable us to engage you in employment. We just wanted to let you know that it has been approved and uploaded.</p>

<p>We store all ID encrypted and follow all guidelines set by the Data Protection Act of 2018. If you have uploaded EU Identification we can hold this information for the duration of your employment with Flair. If you uploaded non EU identification that involves a working visa giving you permission to work legally in the UK, please be aware we will require a new copy after 12 months.</p>

<p>As an employer, we have a responsibility to prevent illegal working in the UK by ensuring that all employees have the right to work here. The illegal working provisions of the Immigration, Asylum and Nationality Act 2006 (‘the Act’) came into force on 29 February 2008.  All copies of documents taken need to be kept securely for the duration of the worker’s employment and for two years afterwards. After this time all copies will be erased off of our system. </p>

<%= render partial: 'staff_mailer/signature' %>
