.client-logos
  .client-logos__vert-carousel
    / Sport
    =image_tag 'logos/rat-race.jpg', class: 'client-logos__logo'
    / Festival
    =image_tag 'logos/bbc-radio-1-s-big-weekend.png', class: 'client-logos__logo'
    / Odd
    =image_tag 'logos/uefa-champions-league.png', class: 'client-logos__logo'
    / Sport
    =image_tag 'logos/spartan-race.png', class: 'client-logos__logo'
    / Music
    =image_tag 'logos/robbie-williams.png', class: 'client-logos__logo'
    / Clients
    =image_tag 'logos/jamie-oliver-s-fabulous-feasts.png', class: 'client-logos__logo'
    / Festival
    =image_tag 'logos/y-not-festival.png', class: 'client-logos__logo'
  .client-logos__vert-carousel
    =image_tag 'logos/it-s-a-knockout.png', class: 'client-logos__logo'
    =image_tag 'logos/t-in-the-park.png', class: 'client-logos__logo'
    =image_tag 'logos/america-s-cup.png', class: 'client-logos__logo'
    =image_tag 'logos/x-runner.png', class: 'client-logos__logo'
    =image_tag 'logos/oasis.png', class: 'client-logos__logo'
    =image_tag 'logos/creative-events.png', class: 'client-logos__logo'
    =image_tag 'logos/parklife-weekender.png', class: 'client-logos__logo'
  .client-logos__vert-carousel
    =image_tag 'logos/royal-parks-foundation-half.png', class: 'client-logos__logo'
    =image_tag 'logos/v-festival.png', class: 'client-logos__logo'
    =image_tag 'logos/ryder-cup.png', class: 'client-logos__logo'
    =image_tag 'logos/tough-mudder.png', class: 'client-logos__logo'
    =image_tag 'logos/red-hot-chili-peppers.png', class: 'client-logos__logo'
    =image_tag 'logos/loud-sound.png', class: 'client-logos__logo'
    =image_tag 'logos/creamfields.png', class: 'client-logos__logo'
  .client-logos__vert-carousel
    =image_tag 'logos/coast-to-coast-2015.png', class: 'client-logos__logo'
    =image_tag 'logos/isle-of-wight-festival-2015.png', class: 'client-logos__logo'
    =image_tag 'logos/london-2012.png', class: 'client-logos__logo'
    =image_tag 'logos/lime-light-sports.png', class: 'client-logos__logo'
    =image_tag 'logos/take-that.png', class: 'client-logos__logo'
    =image_tag 'logos/ministry-of-sound.png', class: 'client-logos__logo'
    =image_tag 'logos/sundown.png', class: 'client-logos__logo'
  .client-logos__vert-carousel
    =image_tag 'logos/vitality-run-hackney.png', class: 'client-logos__logo'
    =image_tag 'logos/the-bigchill.png', class: 'client-logos__logo'
    =image_tag 'logos/formula-1.png', class: 'client-logos__logo'
    =image_tag 'logos/rat-race.jpg', class: 'client-logos__logo'
    =image_tag 'logos/rolling-stone.png', class: 'client-logos__logo'
    =image_tag 'logos/underbelly.jpg', class: 'client-logos__logo'
    =image_tag 'logos/download.png', class: 'client-logos__logo'
  .client-logos__vert-carousel
    =image_tag 'logos/british-gas-swim-britain.png', class: 'client-logos__logo'
    =image_tag 'logos/no-6-portmeirion.png', class: 'client-logos__logo'
    =image_tag 'logos/john-smith-s-grand-national.png', class: 'client-logos__logo'
    =image_tag 'logos/m-dot.gif', class: 'client-logos__logo'
    =image_tag 'logos/coldplay.png', class: 'client-logos__logo'
    =image_tag 'logos/ebay.png', class: 'client-logos__logo'
    =image_tag 'logos/boardmasters.png', class: 'client-logos__logo'