.hand-drawn-notice{style: "position: absolute; top: 30px; right: 30px; flex: 0;width: 250px;line-height: 1em;"}
  Click on Map
%a.btn.btn-default.hidden.all-uk-btn{href: "#", onClick: "showAllRegions(); return false;", style: "position: absolute; top: 30px; right: 30px; flex: 0"}
  < All UK
= render :partial => 'shared/region_map.svg'