<li class='testimonial-item'>
  <div class='quote'>
    <p class="join-us-quote">I have a great time working with Flair - fun events, amazing staff, always paid on time. I highly recommend this company for anyone interested in working events and for clients looking for staff.</p>
    <span style="float: right; margin-top: 15px; color: #005949;">Flair is the best!</span><br>
    <h4 style="text-align: right; color: #005949; margin-top: 20px; padding-bottom: 20px;">Arianne, London</h4>
  </div>
</li>
<li class='testimonial-item'>
  <div class='quote'>
    <p class="join-us-quote">Without Flair I never would have experienced so many great events. I've made some amazing friends over the last few years that I now meet outside work with Flair. Truly a great company to work for and work with. 100% recommended.</p>
    <h4 style="margin-top: 15px; text-align: right; color: #005949;">Simon, Cardiff</h4>
  </div>
</li>
<li class='testimonial-item'>
  <div class='quote'>
    <p class="join-us-quote">Excellent company to work for. Great Managers, friendly team and amazing events. Pay every week. It`s nice to be member of Flair team.</p>
    <h4 style="margin-top: 15px; text-align: right; color: #005949;">Emil, London</h4>
  </div>
</li>
