- content_for :head do
  %title The best staffing solutions delivered & managed.
  %meta{ name: "description", content: "Working outside of the box is fun and rewarding for clients and staffing teams. Flair provides workforce solutions from a background rich in event managment and a twenty year track record of delviering every time. No matter how complex, urgent or froward planned we have the skills see the solutions. "}
.public.industry.commercial
  = render :partial => 'v2/shared/nav'
  .content
    .container-fluid.px-0.d-flex
      .case-header-bg
      .v2-case-section-1.d-flex.align-items-center
        .container.px-0
          .case-study Case Studies
          %p Our job is to make our clients job easier. Workforce solutions from experienced event operational management. So how can we help?
          .orange-btn.d-flex.align-items-center.justify-content-center.mt-30
            %a{ href: '/contact'}
              %button Request Info
    .v2-case-section-2.case-info.d-flex.align-items-center.justify-content-around
      .container.px-0.d-flex.align-items-center.justify-content-around
        .left-flair-logo
        .cs-content.d-flex.flex-column.mr1.position-relative{ style: 'z-index: 2;'}
          .d-flex.flex-inline
            .border-line
            .d-flex.flex-column.ml-05
              %h5 COVID TEST CENTRE
              %h3.violet.mt-05 Delivering teams in 30 hours.
          %p.violet.mt1 Mid-pandemic, we fielded a last-minute request to staff six London testing centres opening in a matter of days. To add more urgency to the brief, all staff had to provide valid DBS checks, and be able to work 12-hour shifts in strict cohort bubbles. They also needed to rapidly pass six NHS training modules. Turning instantly to our diverse database, we reached out to skilled and reliable candidates living no more than five miles of each centre. Within the deadline, the first test sites were opened and fully staffed.
          %p.violet.mt1 The next phase of the planning involved daily workforce management as the ‘four-on, four off’ rotation settled in. Our scheduling app proved invaluable in enabling us to support all of the workers – and the client – every step of the way.
          %a.mt1{href: v2_case_industry_path(industry: "logistics")} READ MORE
        .cs-image.logistics.d-flex
    .container-fluid.px-0.d-flex
      .v2-case-section-3.case-info.even.d-flex.align-items-center.justify-content-around
        .container.px-0.d-flex.align-items-center.justify-content-around
          .cs-image.promo.d-flex.mr1
          .cs-content.d-flex.flex-column
            .d-flex.flex-inline
              .border-line
              .d-flex.flex-column.ml-05
                %h5 EVERY CAN COUNTS
                %h3.mt-05 Brand ambassadors
                %h3.mt-05 with a 'can do' attitude.
            %p.mt1 As part of a nationwide campaign linked to the Tour of Britain cycling series, our client needed specialist teams who were tech savvy and had a passion for recycling. Seeking a single supplier to partner with for the season, they put their trust in Flair – and with one crystal clear job description we jumped into action matching people from our national database. We’re an agency well used to dealing with sudden changes in demand, and know that success lies in understanding the client’s needs and managing the staff's expectations.
            %p.mt1 Our client saved time and money by using one agency and we demonstrated time and time again that we can find the right people for the job. Working in partnership, they were guaranteed quality – and only had to ask once.
            %a.mt1{href: v2_case_industry_path(industry: "promotional")} READ MORE
    .v2-case-section-4.case-info.d-flex.align-items-center.justify-content-around
      .container.px-0.d-flex.align-items-center.justify-content-around
        .cs-content.d-flex.flex-column.mr1
          .d-flex.flex-inline
            .border-line
            .d-flex.flex-column.ml-05
              %h5 GIN & RUM FESTIVALS
              %h3.violet.mt-05 Supporting our client's
              %h3.violet.mt-05 new venture.
          %p.violet.mt1 With an ambitious season ahead and 29 venues booked to host a Gin & Rum festival tour, our hospitality account manager relished the new challenge set by our client. We devised a clear set of roles and knew the different skill sets required from our UK-wide database. The recruits needed to be:
          %p.violet.mt1 A / Focused fast learners who exuded professionalism
          %p.violet.mt0 B / Capable of upselling products and able to talk confidently with event-goers
          %p.violet.mt1 Our client consistently puts their trust in Flair and likes our “low maintenance approach”. Briefed once, we plan, deliver and manage their teams.
          %a.mt1{href: v2_case_industry_path(industry: "hospitality")} READ MORE
        .cs-image.hospitality.d-flex
    .v2-case-section-5.case-info.even.d-flex.align-items-center.justify-content-around
      .container.px-0.d-flex.align-items-center.justify-content-around
        .cs-image.sports.d-flex.mr1
        .cs-content.d-flex.flex-column
          .d-flex.flex-inline
            .border-line
            .d-flex.flex-column.ml-05
              %h5 ROYAL PARKS HALF MARATHON
              %h3.mt-05 Fully staffed at 6am
              %h3.mt-05 with Flair.
          %p.mt1 Control was key when we were asked to deliver 494 people, 51 job rolls, positioned in nine different locations along a 13.1 mile course - and all by 6am on a cold autumn morning. Our secret weapon was not only our large database of experienced sports marshals, but our bespoke operating system designed to handle large volume staffing requirements with ease.
          %p.mt1 It's all about partnerships and working in sync with our clients as operations progress. Each and every worker was handpicked to be a part of this winning team, and arrived informed and ready for the day ahead.
          %a.mt1{href: v2_case_industry_path(industry: "sports")} READ MORE
    .v2-case-section-6.case-info.d-flex.align-items-center.justify-content-around
      .container.px-0.d-flex.align-items-center.justify-content-arounds
        .cs-content.d-flex.flex-column.mr1
          .d-flex.flex-inline
            .border-line
            .d-flex.flex-column.ml-05
              %h5 V FESTIVALS
              %h3.violet.mt-05 Suppling the complete
              %h3.violet.mt-05 staffing service
          %p.violet.mt1 Having previously staffed one V Festival several times, we knew handling both sites would be a monumental task. We jumped right in with diligent planning, recruiting and organising more than 750 bar staff, managers and supervisors. That's 48 different bar teams, 12 shift patterns, nine coaches and five big local recruitment days. And all before smartphones!
          %p.violet.mt1 Our well-polished process meant that for the next 10-years, both V sites had full bar teams that simply arrived and worked. Our unique 360-degree festival service operated flawlessly alongside clients' operations and we provided time and time again adaptable in any field.
          %a.mt1{href: v2_case_industry_path(industry: "events")} READ MORE
        .cs-image.events.d-flex
    .v2-case-section-7.case-info.even.d-flex.align-items-center.justify-content-around
      .container.px-0.d-flex.align-items-center.justify-content-around
        .cs-image.commercial.d-flex.mr1
        .cs-content.d-flex.flex-column
          .d-flex.flex-inline
            .border-line
            .d-flex.flex-column.ml-05
              %h5 THE LOWRY
              %h3.mt-05 Scale up operations with
              %h3.mt-05 flexible staffing
          %p.mt1 A major ticketing centre needed ‘top up crew’ to meet spikes in demand. Our workers would need to know the company’s system, standards, and protocols – plus blend in with a permanent team. Key to our success was finding flexible local people who would accept the unpredictable nature of the contract. Honesty being the best policy to build loyalty for us and our clients, we gathered together a pool of experienced call centre staff who understood the need for flexibility. This, and our reaction time, made it a success.
          %p.mt1 We met targets and saved our clients valuable time by outsourcing recruitment. Continuous feedback minimised the chances of surprises, with all stakeholders kept in the loop. Workers were valued, felt included and enjoyed the flexibility the contract offered.
          %a.mt1{href: v2_case_industry_path(industry: "commercial")} READ MORE
    .container-fluid.px-0.position-relative
      .v2-case-section-8.d-flex.align-items-center
        .cs-bottom-bg
        .container.px-0.d-flex.align-items-center.justify-content-end
          .d-flex.flex-column.align-items-center
            %h1 Flair is here
            %h1
              to work for you
              %span .
            .d-flex.flex-inline.mt2
              .v2-home-btns.staff-request.d-flex.align-items-center.justify-content-center.mr2
                %a{ href: '/register'}
                  %button.v2-home-staff-req-btn.join-team Join our team
              .v2-home-btns.bottom-hire.d-flex.align-items-center.justify-content-center
                %a{href: "/hire?redirect=#{Flair::Application.config.base_https_url}/case_studies"}
                  %button.v2-home-bottom-hire-btn.bottom-hire Hire staff today
    .v2-home-bottom
  = render :partial => 'v2/application/footer'
