<% content_for :head do %>
  <title>Get A Tailored Quote for our Staffing</title>
  <meta name="description" content="No two events or commercial staffing needs are the same - which is why all Flair quotes are tailer-made to the client's exact spec. We're competitive, too!" />
<% end %>
<div class="login">
  <%= render :partial => "v2/shared/nav" %>
  <div class="v2-client-login-background"></div>
  <div class="content">
    <div class="content-spacer"></div>
    <div class="content-inner">
      <div class="d-flex flex-row-reverse bd-highlight">
        <div class="col p-0 d-flex">
          <div class="v2-client-login-form-container">
            <%= render :partial => 'login_form' %>
          </div>
        </div>
        <div class="col p-0 d-flex">
          <div class="v2-client-login-quote-container">
            <div class="v2-client-login-quote-container-first">
              our quotes are as
            </div>
            <div class="v2-client-login-quote-container-second">
            </div>
            <div class="v2-client-login-quote-container-third">
              as our clients
            </div>

            <div class="v2-client-login-quote-container-fourth">
              We have an unrivalled habit <br> of making it happen
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-after"></div>
  <%= render :partial => "v2/application/footer" %>
</div>
