<div class="v2-header-container">
  <div class="d-flex flex-row-reverse bd-highlight v2-header">
    <a href="mailto:hello@flairpeople.com">hello@flairpeople.com</a>
    <span class="v2-header-circle">&#9679;</span>
    <span>Head Office: <a href="tel:0161-241-2441">0161 241 2441</a></span>
  </div>
</div>