<p>Hi <%= @name %>,</p>

<p>Your interview with us is confirmed for <strong><%= @interview_date %></strong> at <strong><%= @interview_time %></strong>. Please note we will call you within 30 minutes of your chosen time slot. </p>
<p>Flair has over 20 years’ experience of organising and providing teams to work across the event industry.  Flair can offer individual contracts to many fixed event venues all paid weekly, above minimum wage and with holiday entitlements. Various roles available throughout the year at sporting events, music events, bar, hospitality to retail and promotional jobs. </p>
<p>We actively seek out talented professional individuals, matching jobs to suit skills and experience.  Please consider the following before your interview: </p>

<ul>
  <li><strong>Complete all questions</strong> – Showcase the best of you and the talents you want to offer an employer.</li>
  <li><strong>Prepared</strong> – be somewhere you can speak freely</li>
  <li><strong>Job Type</strong> – Tell us what jobs you enjoy and the type of work you wish to be offered.</li>
</ul>
<p>If something comes up or you want to complete your application sooner, call us after 10am Tuesdays – Fridays: Office 0161 241 2441</p>
<p>Thanks<p>
<p>Flair Team</p>
<%= render partial: 'signature' %>
