<p>Hi <%= @person.first_name %>,</p>

<p>Your interview is tomorrow, <strong><%= @interview_date %></strong> at <strong><%= @interview_time %></strong>.  If it is no longer suitable for us to call you, please consider rescheduling or cancelling.
  Simply visit your <a href="https://eventstaffing.co.uk/staff/#profile">profile page</a> </p>
<p>Another option to avoid you missing the opportunity to work with us is to call in any time after 10am. The interview normally takes 10-15 minutes of your time and will unlock hundreds of casual event work opportunities, so worth the final step in your application process. </p>
<p> We look forward to chatting our Office number: <a href="tel:01612412441"> 0161 241 2441 </a> </p>
<p>Thanks<p>
<p>Flair Team</p>
<%= render partial: 'signature' %>
