.funky-pop-up{style: 'display:none'}
  .close-popup-button{onclick: "$('.funky-pop-up').hide()"}
  .funky-pop-up-text
    = @funky_popup_text
.staff--upload-spinner#upload-spinner{style: 'display:none'}
  =image_tag 'staff-spinner.gif'
